<div class="myapp_form">
 <%= form_tag do %>
  <fieldset>
   <legend>Login to continue</legend>
   
   <div>
     <label for="name">Name: </label></br>
     <%= text_field_tag :name, params[:name]%>
   </div></br>
   
   <div>
      <label for="password">Password:</label></br>
      <%= password_field_tag :password, params[:password]%>
    </div></br>
    
    <div>
     <%= submit_tag "Login" %>
     <%= link_to 'New User??', new_user_path %>
    </div>
    
   
    </fieldset>
  <% end %>
 </div>

