<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
  </p>
  <p>
  <b>Email:</b>
  <%=@user.Email_id%>
  </p>

<p>
  <b>Hashed password:</b>
  <%= @user.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @user.salt %>
</p>

<%= form_tag  upload_users_path, :multipart => true, :method =>"put" do %>
  <%= file_field_tag :media %>
  <%= submit_tag "upload"%>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>
