<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
 
<% end %>
 </div>
  <form action="https://authorize.payments-sandbox.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="processImmediate" value="1" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="DEXNRDMIXDSP5ZAXBFT74L7T5M5DLGMAUCP96F" >
  <input type="hidden" name="referenceId" value="001" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value='<%= @amount %>' >
  <input type="hidden" name="description" value="shopping" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="signature" value="uptttV8k5lQLp9OTSXiBAlK3KLhFnfVexPa1yB/hqMo=" >
  <input type="hidden" name="returnUrl" value="http://localhost:3000/confirm_payment" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_medium_paynow_withlogo_whitebg.gif" border="0">
</form>
  